body {
    background-color: #F6DFB2;
    font-family: Arial, sans-serif;
    text-align: center;
}

.botaoinicio {
    background-color: #FF6347;
    /* Tomato */
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;

}

.botao {
    text-align: center;
    background-color: #FF6347;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: green;
    font-size: 2.5em;
    margin-top: 5px;
}

.logo {
    width: 400px;
    height: auto;


}

.borda {
    border: 2px solid black;
    padding: 10px;
    max-width: 400px;
    margin: auto;

}

.pizza {
    padding-left: 5px;
    margin: auto;
    height: auto;
    width: 90px;
    position:  right;
    width: 100px;
    margin: 100px;


}

.posicao_pizza {
    width: 90px;
    display: flex;

}

.sabor {
    
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
h2 {
    color: green;
    font-size: 1.5em;
    margin-top: 20px;
}
.borda-interna {
    
    background: #F6DFB27;
     border: 2px solid black;
    padding: 10px;
    max-width: 400px;
    margin: auto;
}
.linha{
    width: 400px;
    height: auto;

}